# GitHub WILL ignore these folders:

python/
/__pycache__/

# GitHub WILL ignore these files:



# GitHub WILL ignore these file extensions:

*.pyc
*.pyo
*.pyd
*.log
*.so
*.json
*.DS_Store
*.buildings
*.trackRecords
*.egg
*.txt
*.cfg
*.mf
*.yaml
*.lnk
*.bam
*.ogg
*.jpg
*.rgb