# GitHub WILL ignore these folders:

python/

# GitHub WILL ignore these files:

python/Lib/__pycache__/__future__.cpython-311.pyc
python/Lib/__pycache__/_compat_pickle.cpython-311.pyc
python/Lib/__pycache__/_compression.cpython-311.pyc
python/Lib/__pycache__/_markupbase.cpython-311.pyc
python/Lib/__pycache__/_strptime.cpython-311.pyc
python/Lib/__pycache__/_weakrefset.cpython-311.pyc
python/Lib/__pycache__/argparse.cpython-311.pyc
python/Lib/__pycache__/ast.cpython-311.pyc
python/Lib/__pycache__/base64.cpython-311.pyc
python/Lib/__pycache__/bdb.cpython-311.pyc
python/Lib/__pycache__/bisect.cpython-311.pyc
python/Lib/__pycache__/bz2.cpython-311.pyc
python/Lib/__pycache__/calendar.cpython-311.pyc
python/Lib/__pycache__/cmd.cpython-311.pyc
python/Lib/__pycache__/code.cpython-311.pyc
python/Lib/__pycache__/codeop.cpython-311.pyc
python/Lib/__pycache__/contextlib.cpython-311.pyc
python/Lib/__pycache__/contextvars.cpython-311.pyc
python/Lib/__pycache__/copy.cpython-311.pyc
python/Lib/__pycache__/copyreg.cpython-311.pyc
python/Lib/__pycache__/csv.cpython-311.pyc
python/Lib/__pycache__/dataclasses.cpython-311.pyc
python/Lib/__pycache__/datetime.cpython-311.pyc
python/Lib/__pycache__/difflib.cpython-311.pyc
python/Lib/__pycache__/dis.cpython-311.pyc
python/Lib/__pycache__/enum.cpython-311.pyc
python/Lib/__pycache__/fnmatch.cpython-311.pyc
python/Lib/__pycache__/functools.cpython-311.pyc
python/Lib/__pycache__/gettext.cpython-311.pyc
python/Lib/__pycache__/glob.cpython-311.pyc
python/Lib/__pycache__/hashlib.cpython-311.pyc
python/Lib/__pycache__/heapq.cpython-311.pyc
python/Lib/__pycache__/inspect.cpython-311.pyc
python/Lib/__pycache__/ipaddress.cpython-311.pyc
python/Lib/__pycache__/keyword.cpython-311.pyc
python/Lib/__pycache__/linecache.cpython-311.pyc
python/Lib/__pycache__/locale.cpython-311.pyc
python/Lib/__pycache__/lzma.cpython-311.pyc
python/Lib/__pycache__/nturl2path.cpython-311.pyc
python/Lib/__pycache__/opcode.cpython-311.pyc
python/Lib/__pycache__/operator.cpython-311.pyc
python/Lib/__pycache__/pathlib.cpython-311.pyc
python/Lib/__pycache__/pdb.cpython-311.pyc
python/Lib/__pycache__/pickle.cpython-311.pyc
python/Lib/__pycache__/pprint.cpython-311.pyc
python/Lib/__pycache__/queue.cpython-311.pyc
python/Lib/__pycache__/quopri.cpython-311.pyc
python/Lib/__pycache__/random.cpython-311.pyc
python/Lib/__pycache__/reprlib.cpython-311.pyc
python/Lib/__pycache__/selectors.cpython-311.pyc
python/Lib/__pycache__/shlex.cpython-311.pyc
python/Lib/__pycache__/shutil.cpython-311.pyc
python/Lib/__pycache__/signal.cpython-311.pyc
python/Lib/__pycache__/socket.cpython-311.pyc
python/Lib/__pycache__/ssl.cpython-311.pyc
python/Lib/__pycache__/string.cpython-311.pyc
python/Lib/__pycache__/struct.cpython-311.pyc
python/Lib/__pycache__/subprocess.cpython-311.pyc
python/Lib/__pycache__/tempfile.cpython-311.pyc
python/Lib/__pycache__/textwrap.cpython-311.pyc
python/Lib/__pycache__/threading.cpython-311.pyc
python/Lib/__pycache__/token.cpython-311.pyc
python/Lib/__pycache__/tokenize.cpython-311.pyc
python/Lib/__pycache__/traceback.cpython-311.pyc
python/Lib/__pycache__/types.cpython-311.pyc
python/Lib/__pycache__/typing.cpython-311.pyc
python/Lib/__pycache__/warnings.cpython-311.pyc
python/Lib/__pycache__/weakref.cpython-311.pyc
python/Lib/__pycache__/webbrowser.cpython-311.pyc
python/Lib/__pycache__/zipfile.cpython-311.pyc
python/Lib/asyncio/__pycache__/__init__.cpython-311.pyc
python/Lib/asyncio/__pycache__/base_events.cpython-311.pyc
python/Lib/asyncio/__pycache__/base_futures.cpython-311.pyc
python/Lib/asyncio/__pycache__/base_subprocess.cpython-311.pyc
python/Lib/asyncio/__pycache__/base_tasks.cpython-311.pyc
python/Lib/asyncio/__pycache__/constants.cpython-311.pyc
python/Lib/asyncio/__pycache__/coroutines.cpython-311.pyc
python/Lib/asyncio/__pycache__/events.cpython-311.pyc
python/Lib/asyncio/__pycache__/exceptions.cpython-311.pyc
python/Lib/asyncio/__pycache__/format_helpers.cpython-311.pyc
python/Lib/asyncio/__pycache__/futures.cpython-311.pyc
python/Lib/asyncio/__pycache__/locks.cpython-311.pyc
python/Lib/asyncio/__pycache__/log.cpython-311.pyc
python/Lib/asyncio/__pycache__/mixins.cpython-311.pyc
python/Lib/asyncio/__pycache__/proactor_events.cpython-311.pyc
python/Lib/asyncio/__pycache__/protocols.cpython-311.pyc
python/Lib/asyncio/__pycache__/queues.cpython-311.pyc
python/Lib/asyncio/__pycache__/runners.cpython-311.pyc
python/Lib/asyncio/__pycache__/selector_events.cpython-311.pyc
python/Lib/asyncio/__pycache__/sslproto.cpython-311.pyc
python/Lib/asyncio/__pycache__/staggered.cpython-311.pyc
python/Lib/asyncio/__pycache__/streams.cpython-311.pyc
python/Lib/asyncio/__pycache__/subprocess.cpython-311.pyc
python/Lib/asyncio/__pycache__/taskgroups.cpython-311.pyc
python/Lib/asyncio/__pycache__/tasks.cpython-311.pyc
python/Lib/asyncio/__pycache__/threads.cpython-311.pyc
python/Lib/asyncio/__pycache__/timeouts.cpython-311.pyc
python/Lib/asyncio/__pycache__/transports.cpython-311.pyc
python/Lib/asyncio/__pycache__/trsock.cpython-311.pyc
python/Lib/asyncio/__pycache__/windows_events.cpython-311.pyc
python/Lib/asyncio/__pycache__/windows_utils.cpython-311.pyc
python/Lib/collections/__pycache__/__init__.cpython-311.pyc
python/Lib/collections/__pycache__/abc.cpython-311.pyc
python/Lib/concurrent/__pycache__/__init__.cpython-311.pyc
python/Lib/concurrent/futures/__pycache__/__init__.cpython-311.pyc
python/Lib/concurrent/futures/__pycache__/_base.cpython-311.pyc
python/Lib/ctypes/__pycache__/__init__.cpython-311.pyc
python/Lib/ctypes/__pycache__/_endian.cpython-311.pyc
python/Lib/dbm/__pycache__/__init__.cpython-311.pyc
python/Lib/dbm/__pycache__/ndbm.cpython-311.pyc
python/Lib/email/__pycache__/__init__.cpython-311.pyc
python/Lib/email/__pycache__/_encoded_words.cpython-311.pyc
python/Lib/email/__pycache__/_parseaddr.cpython-311.pyc
python/Lib/email/__pycache__/_policybase.cpython-311.pyc
python/Lib/email/__pycache__/base64mime.cpython-311.pyc
python/Lib/email/__pycache__/charset.cpython-311.pyc
python/Lib/email/__pycache__/encoders.cpython-311.pyc
python/Lib/email/__pycache__/errors.cpython-311.pyc
python/Lib/email/__pycache__/feedparser.cpython-311.pyc
python/Lib/email/__pycache__/header.cpython-311.pyc
python/Lib/email/__pycache__/iterators.cpython-311.pyc
python/Lib/email/__pycache__/message.cpython-311.pyc
python/Lib/email/__pycache__/parser.cpython-311.pyc
python/Lib/email/__pycache__/quoprimime.cpython-311.pyc
python/Lib/email/__pycache__/utils.cpython-311.pyc
python/Lib/encodings/__pycache__/__init__.cpython-311.pyc
python/Lib/encodings/__pycache__/aliases.cpython-311.pyc
python/Lib/encodings/__pycache__/cp1252.cpython-311.pyc
python/Lib/encodings/__pycache__/utf_8.cpython-311.pyc
python/Lib/html/__pycache__/__init__.cpython-311.pyc
python/Lib/html/__pycache__/entities.cpython-311.pyc
python/Lib/html/__pycache__/parser.cpython-311.pyc
python/Lib/http/__pycache__/__init__.cpython-311.pyc
python/Lib/http/__pycache__/client.cpython-311.pyc
python/Lib/importlib/__pycache__/__init__.cpython-311.pyc
python/Lib/importlib/__pycache__/_abc.cpython-311.pyc
python/Lib/importlib/__pycache__/abc.cpython-311.pyc
python/Lib/importlib/metadata/__pycache__/__init__.cpython-311.pyc
python/Lib/importlib/metadata/__pycache__/_adapters.cpython-311.pyc
python/Lib/importlib/metadata/__pycache__/_collections.cpython-311.pyc
python/Lib/importlib/metadata/__pycache__/_functools.cpython-311.pyc
python/Lib/importlib/metadata/__pycache__/_itertools.cpython-311.pyc
python/Lib/importlib/metadata/__pycache__/_meta.cpython-311.pyc
python/Lib/importlib/metadata/__pycache__/_text.cpython-311.pyc
python/Lib/importlib/resources/__pycache__/__init__.cpython-311.pyc
python/Lib/importlib/resources/__pycache__/_adapters.cpython-311.pyc
python/Lib/importlib/resources/__pycache__/_common.cpython-311.pyc
python/Lib/importlib/resources/__pycache__/_legacy.cpython-311.pyc
python/Lib/importlib/resources/__pycache__/abc.cpython-311.pyc
python/Lib/json/__pycache__/__init__.cpython-311.pyc
python/Lib/json/__pycache__/decoder.cpython-311.pyc
python/Lib/json/__pycache__/encoder.cpython-311.pyc
python/Lib/json/__pycache__/scanner.cpython-311.pyc
python/Lib/logging/__pycache__/__init__.cpython-311.pyc
python/Lib/re/__pycache__/__init__.cpython-311.pyc
python/Lib/re/__pycache__/_casefix.cpython-311.pyc
python/Lib/re/__pycache__/_compiler.cpython-311.pyc
python/Lib/re/__pycache__/_constants.cpython-311.pyc
python/Lib/re/__pycache__/_parser.cpython-311.pyc
python/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc
python/Lib/site-packages/pypresence/__pycache__/__init__.cpython-311.pyc
python/Lib/site-packages/pypresence/__pycache__/baseclient.cpython-311.pyc
python/Lib/site-packages/pypresence/__pycache__/client.cpython-311.pyc
python/Lib/site-packages/pypresence/__pycache__/exceptions.cpython-311.pyc
python/Lib/site-packages/pypresence/__pycache__/payloads.cpython-311.pyc
python/Lib/site-packages/pypresence/__pycache__/presence.cpython-311.pyc
python/Lib/site-packages/pypresence/__pycache__/utils.cpython-311.pyc
python/Lib/site-packages/pytz/__pycache__/__init__.cpython-311.pyc
python/Lib/site-packages/pytz/__pycache__/exceptions.cpython-311.pyc
python/Lib/site-packages/pytz/__pycache__/lazy.cpython-311.pyc
python/Lib/site-packages/pytz/__pycache__/tzfile.cpython-311.pyc
python/Lib/site-packages/pytz/__pycache__/tzinfo.cpython-311.pyc
python/Lib/unittest/__pycache__/__init__.cpython-311.pyc
python/Lib/unittest/__pycache__/case.cpython-311.pyc
python/Lib/unittest/__pycache__/loader.cpython-311.pyc
python/Lib/unittest/__pycache__/main.cpython-311.pyc
python/Lib/unittest/__pycache__/result.cpython-311.pyc
python/Lib/unittest/__pycache__/runner.cpython-311.pyc
python/Lib/unittest/__pycache__/signals.cpython-311.pyc
python/Lib/unittest/__pycache__/suite.cpython-311.pyc
python/Lib/unittest/__pycache__/util.cpython-311.pyc
python/Lib/urllib/__pycache__/__init__.cpython-311.pyc
python/Lib/urllib/__pycache__/error.cpython-311.pyc
python/Lib/urllib/__pycache__/parse.cpython-311.pyc
python/Lib/urllib/__pycache__/request.cpython-311.pyc
python/Lib/urllib/__pycache__/response.cpython-311.pyc

# GitHub WILL ignore these file extensions:

*.pyc
*.pyo
*.pyd
*.log
*.so
*.json
*.DS_Store
*.buildings
*.trackRecords
*.egg
*.txt
*.cfg
*.mf
*.yaml
*.lnk
*.bam
*.ogg
*.jpg
*.rgb